<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnnualPhotoHelper_BlackbaudWebService.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <AnnualPhotoHelper_BlackbaudWebService.My.MySettings>
            <setting name="NOTINCRMFOLDERNAME" serializeAs="String">
                <value>Children_Not_In_CRM\</value>
            </setting>
            <setting name="UNMATCHEDPROJECTFOLDERNAME" serializeAs="String">
                <value>Incorrect_Project_ID\</value>
            </setting>
            <setting name="UNMATCHEDNAMEFOLDERNAME" serializeAs="String">
                <value>Names_Not_Match\</value>
            </setting>
            <setting name="ALREADYCOMPLETEDFOLDERNAME" serializeAs="String">
                <value>Already_Completed_Exceptions\</value>
            </setting>
            <setting name="UNUSABLEALREADYCOMPLETEDFOLDERNAME" serializeAs="String">
                <value>Unusable_Already_Completed_Exceptions\</value>
            </setting>
            <setting name="INTERACTIONNOTFOUNDFOLDERNAME" serializeAs="String">
                <value>Interactions_Not_In_CRM_Exceptions\</value>
            </setting>
            <setting name="RECORDOPNAME" serializeAs="String">
                <value>Child Interaction Annual Photo Update Record Operation</value>
            </setting>
            <setting name="PHOTOYEARFILE" serializeAs="String">
                <value>2014.JPG</value>
            </setting>
            <setting name="PHOTOYEARFILE_LOWERCASE" serializeAs="String">
                <value>2014.jpg</value>
            </setting>
            <setting name="PHOTOYEARFILE_WITHSPACE" serializeAs="String">
                <value>2014 .JPG</value>
            </setting>
            <setting name="DEBUGGING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEVURL" serializeAs="String">
                <value>https://bbecdev03bo3.blackbaudhosting.com/21195D_c1b77079-b579-4bfc-9532-4d895d9e5891/appfxwebservice.asmx</value>
            </setting>
            <setting name="PRODURL" serializeAs="String">
                <value>https://bbisec04pro.blackbaudhosting.com/21195P_a4c313dc-543a-45d5-b64d-72e8f900c2df/appfxwebservice.asmx</value>
            </setting>
            <setting name="TARGET_ENVIRONMENT" serializeAs="String">
                <value>Dev</value>
            </setting>
            <setting name="DEV_DB" serializeAs="String">
                <value>21195D</value>
            </setting>
            <setting name="PROD_DB" serializeAs="String">
                <value>BBInfinity</value>
            </setting>
            <setting name="DEVUN" serializeAs="String">
                <value>PhotoAPIUser21195D</value>
            </setting>
            <setting name="DEVPW" serializeAs="String">
                <value>P@ssword1</value>
            </setting>
            <setting name="PRODUN" serializeAs="String">
                <value>PhotoAPIUser21195P</value>
            </setting>
            <setting name="PRODPW" serializeAs="String">
                <value>P@ssword1</value>
            </setting>
            <setting name="FILENAMEPARSEERRORFOLDERNAME" serializeAs="String">
                <value>Filename_Parse_Error\</value>
            </setting>
        </AnnualPhotoHelper_BlackbaudWebService.My.MySettings>
    </applicationSettings>
</configuration>
